/**************/
/*****ROOT*****/
/**************/

.root
{	
	-fx-background-color: white;
	-fx-border-color: white;
}

/***************/
/*****LABEL*****/
/***************/

.label
{
	-fx-background-color: white;
	-fx-font-weight: bold;
	-fx-text-fill: dodgerblue;
}


.tab-pane
{
	-fx-background-color: white;
	-fx-border-color: white;
}

.tab-content-area
{
	-fx-background-color: transparent;
}

.tab .tab-label
{
	-fx-background-color: dodgerblue;
	-fx-border-color: transparent;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

.tab:selected .tab-label
{
	-fx-background-color: white;
	-fx-text-fill: dodgerblue;
}

.tab
{
	-fx-background-color: dodgerblue;
}

.tab:selected
{
	-fx-background-color: white;
}




.tab-pane *.tab-header-background 
{
	-fx-background-color: white;
}

/**************/
/*****VBOX*****/
/**************/

.vbox
{
	-fx-background-color: white;
	-fx-border-color: white;
}

.back-vbox
{
	-fx-background-color: white;
	-fx-border-color: white;
}

/*********** */
/*HBOX */

.hbox
{
	-fx-background-color: white;
	-fx-border-color: dodgerblue;
}

/********************/
/*****STACK PANE*****/
/********************/
.stack-pane
{
	-fx-background-color: white;
}

/*****************/
/*****BUTTONS*****/
/*****************/

.button
{
	-fx-text-fill: white;
	-fx-border-color: transparent;
	-fx-background-color: dodgerblue;
}

.button:hover
{
	-fx-background-color: dodgerblue;
	-fx-text-fill: yellow;
	-fx-font-weight: bold;
}

.button:armed
{
	-fx-background-color: white;
	-fx-text-fill:dodgerblue;
}
.ratingbox
{
		-fx-background-color: white;
		-fx-border-color: transparent;
}

.toggle-button
{
	-fx-background-color: white;
	-fx-border-color: transparent;
	-fx-background-image: url("../textures/star_unselected.png");
	-fx-background-size: 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}


.toggle-button:hover
{
    -fx-background-image: url("../textures/star_hover.png");
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.toggle-button:selected
{
	-fx-background-image: url("../textures/star_selected.png");
    -fx-background-size: 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.toggle-button:hover:selected
{
	-fx-background-image: url("../textures/star_selected.png");
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.toggle-button:disabled, .toggle-button:disabled > *
{
 	-fx-opacity: 1.0 ;
}

/********************/
/*****SPLIT PANE*****/
/********************/

.split-pane
{
	-fx-background-color: white;
	-fx-border-color: white;
}

.split-pane .split-pane-divider
{
	-fx-background-color: white;
	-fx-border-color: white;

}

/**********************/
/*****SCROLL PANES*****/
/**********************/

.scroll-pane .viewport
{
	-fx-background-color: transparent;
}

.scroll-pane
{
	-fx-background-color: white;
	-fx-border-color: lightgray;
}

.scroll-pane .scroll-bar
{
	-fx-background-color: white;
	-fx-border-color: white;
}

/*********************/
/*****SCROLL BARS*****/
/*********************/

.scroll-bar .thumb
{
	-fx-background-color: lightgray;
}

.scroll-bar .increment-arrow
{
	-fx-background-color: lightgray;
}

.scroll-bar .decrement-arrow
{
	-fx-background-color: lightgray;
}

/**********************/
/*****TITLED PANES*****/
/**********************/

.titled-pane .title
{
	-fx-background-color: cornflowerblue;
	-fx-border-color: cornflowerblue;
}

.titled-pane .content
{
	-fx-border-color: white;
	-fx-background-color: white;
	
}

.titled-pane
{
	-fx-background-color: white;
	-fx-border-color: white;
	-fx-animated: true;
	-fx-text-fill: white;
}


